

.carousel{width: 1200px;
height: 315px;}

.submit-button {
  margin-top: 10px;
}


#regina{position: relative;
	top: 100px;


}
.form{position: relative;
	top: 100px;
	
}
.sturgis{position: relative;
	top: 300px;

}
.hello{position: relative;
	top: 100px;

}
.regina1{position: relative;
	top: 100px;
	}